#!/usr/bin/make -f

%:
	dh $@ --fail-missing --parallel

override_dh_auto_build:
	$(MAKE) oxt

override_dh_auto_install:
	mkdir -p debian/tmp/usr/lib/libreoffice/share/extensions/voikko
	unzip -d debian/tmp/usr/lib/libreoffice/share/extensions/voikko/ build/voikko.oxt

override_dh_auto_test:
