Source: libvoikko
Priority: optional
Maintainer: Harri Pitkänen <hatapitk@iki.fi>
Build-Depends: debhelper (>= 4.0.0), libmalaga-dev (>= 7.4), autotools-dev, devscripts
Standards-Version: 3.6.2
Section: libs

Package: libvoikko-dev
Section: libdevel
Architecture: any
Depends: libvoikko1 (= ${Source-Version})
Description: Development files for libvoikko
 Voikko is a Finnish spellchecker and hyphenator based on
 Malaga and Suomi-Malaga. This package contains the files
 needed to build or develop applications that use voikko.
 .
 Homepage: http://www.hunspell-fi.org

Package: libvoikko1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, voikko-fi
Description: Finnish spellchecker and hyphenator library
 Voikko is a Finnish spellchecker and hyphenator based on
 Malaga and Suomi-Malaga. This package contains the shared
 library.
 .
 Homepage: http://www.hunspell-fi.org
