Source: mozvoikko
Section: web
Priority: optional
Maintainer: Heikki Mäntysaari <heikki.mantysaari@linux.fi>
Build-Depends: debhelper (>= 5), xulrunner-dev (>= 1.9~rc2), libvoikko-dev (>= 1.7)
Standards-Version: 3.8.0

Package: mozvoikko
Architecture: any 
Depends: ${shlibs:Depends}, libvoikko1 (>= 1.7), voikko-fi, iceweasel (>= 3) 
Description: Finnish spell-checker extension for Iceweasel  
 Finnish spell-checker extension for Iceweasel 3. Spell-checking 
 functionality is provided by Voikko - a free spellchecker 
 for Finnish language.

