Source: openoffice.org-voikko
Section: text
Priority: optional
Maintainer: Timo Jyrinki <timo@debian.org>
Build-Depends: debhelper (>= 5.0.0), openoffice.org-dev (>= 1:3.0.1~), libvoikko-dev (>= 2.1), zip
Standards-Version: 3.8.1
Homepage: http://voikko.sourceforge.net/

Package: openoffice.org-voikko
Architecture: any
Pre-Depends: openoffice.org-common
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: openoffice.org (>= 1:3.0.1~) | openoffice.org-writer (>= 1:3.0.1~) | openoffice.org-calc (>= 1:3.0.1~) | openoffice.org-impress (>= 1:3.0.1~) | openoffice.org-draw (>= 1:3.0.1~)
Conflicts: ${misc:Conflicts}
Enhances: openoffice.org
Provides: openoffice.org-spellcheck-fi, openoffice.org-hyphenation-fi
Description: Finnish language tools for OpenOffice.org
 OpenOffice.org is a full-featured office productivity suite that provides
 a near drop-in replacement for Microsoft(R) Office.
 .
 This package contains a Finnish spell-checking, grammar checking and
 hyphenation component for OpenOffice.org. The actual functionality is
 provided by the Voikko library.
 .
 NOTE: Usually spell-checking, grammar checking and hyphenation should be
 automatically activated after installing this package. If this is not the
 case, go to "Writing Aids" settings in OpenOffice.org and activate Voikko
 components manually. See file
 /usr/share/doc/openoffice.org-voikko/README.Debian for more information
 about using this package.
