#!/usr/bin/make -f

CC_FLAGS = -Wall -g
HYPHENATION_PATCH = debian/HypMinWordLength.patch

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CC_FLAGS += -O0
else
	CC_FLAGS += -O2
endif

ifneq (,$(findstring separate-minlength,$(DEB_BUILD_OPTIONS)))
	APPLY_HYPHENATION_PATCH = apply-hyphenation-patch-stamp
else
	APPLY_HYPHENATION_PATCH =
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

apply-hyphenation-patch: apply-hyphenation-patch-stamp
apply-hyphenation-patch-stamp:
	dh_testdir
	@echo "Applying $(HYPHENATION_PATCH)"
	@patch -p0 -stuN < "$(HYPHENATION_PATCH)"
	touch apply-hyphenation-patch-stamp

deapply-hyphenation-patch:
	dh_testdir
	@if test -f apply-hyphenation-patch-stamp; then \
		echo "Reverting $(HYPHENATION_PATCH)"; \
		patch -p0 -suRf < "$(HYPHENATION_PATCH)"; \
		rm -f apply-hyphenation-patch-stamp; \
	fi

build: $(APPLY_HYPHENATION_PATCH) build-stamp
build-stamp: configure-stamp 
	dh_testdir
	sh -c ". /usr/lib/openoffice/sdk/setsdkenv_unix.sh && $(MAKE) oxt"
	touch build-stamp

clean: deapply-hyphenation-patch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-rm -rf build
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_install
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	sh debian/generate_dependencies.sh
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure apply-hyphenation-patch deapply-hyphenation-patch
