Source: suomi-malaga
Section: misc
Priority: optional
Maintainer: Teemu Likonen <tlikonen@iki.fi>
Build-Depends: debhelper (>= 4.0.0), malaga-bin (>= 7.0)
Standards-Version: 3.6.2

Package: voikko-fi
Section: text
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libvoikko1 (<= 1.0-0hf2)
Description: Description of Finnish morphology written in Malaga. 
 Suomi-Malaga is a description of Finnish morphology written in Malaga.
 .
 This package contains a compiled version of Suomi-Malaga and basic Finnish
 vocabulary suitable for use in spell-checking and hyphenation system Voikko.
 .
 Homepage: http://www.hunspell-fi.org/
