#!/usr/bin/make -f

%:
	dh $@ --fail-missing

override_dh_auto_build:
	$(MAKE) voikko SM_BUILDDATE="$(shell dpkg-parsechangelog | sed -n -e 's/^Date: //p')"
	
override_dh_auto_install:
	$(MAKE) voikko-install DESTDIR=$(CURDIR)/debian/voikko-fi/usr/lib/voikko

