Source: tmispell-voikko
Section: text
Priority: optional
Maintainer: Timo Jyrinki <timo.jyrinki@iki.fi>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 4), libenchant-dev (>= 1.1.6), libncursesw5-dev, autotools-dev, libvoikko-dev (>= 1.0), libglibmm-2.4-dev
Homepage: http://voikko.sourceforge.net/

Package: tmispell-voikko
Section: text
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: tmispell, tmispell-soikko
Suggests: ispell
Description: Ispell wrapper which uses Voikko for spell-checking
 Voikko is a Finnish spell-checker and hyphenator based on Malaga and
 Suomi-Malaga.
 .
 Tmispell is an Ispell wrapper that provides an Ispell-like interface for other
 programs that need spelling checker. Many programs (e.g. mail clients, text
 editors, and word processors) use Ispell for spell-checking. This package
 makes it possible for such programs to use Voikko for Finnish spell-checking.
 .
 This package will set up Tmispell so that the command "ispell" actually starts
 "tmispell". The real Ispell will be launched only if Tmispell does not support
 the selected language.

Package: libenchant-voikko
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Voikko spell-checker libenchant plugin
 Voikko is a Finnish spell-checker and hyphenator based on Malaga and
 Suomi-Malaga.
 .
 This package contains a libenchant provider plugin that allows using Voikko in
 any application that uses enchant library for spell-checking. For example
 Abiword is one of these applications.
